{% extends 'base.html' %}

{% load static %}
      {% block content %}

  <div class="container-fluid">
    <div class="row">
        <div class="col col-lg-3">

        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12 col-12 main-part">
          <div class="container-fluid profile-top">
            <img class="card-img-top profilepic" src="{request.user.profile_photo.url}" alt="Card image cap">
            <div class="card-body">
              {% if is_alumni %}
                <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
                <p class="card-text">College: {{user.college}}</p>
                <p class="card-text">Dept: {{user.department}}</p>
                <p class="card-text">Year Of Passing Out: {{alumni.year_of_passing}}</p>
              {% elif is_faculty %}
                <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
                <p class="card-text">College: {{user.college}}</p>
                <p class="card-text">Dept: {{user.department}}</p>
                <p class="card-text">Year of joining college: {{faculty.college_joined_year}}</p>
                <p class="card-text">Research interest: {{faculty.research_interest}}</p>
              {% else %}
                <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
                <p>You are SuperUser!</p>
              {% endif %}

              {% if editprofile %}
                <a href="{% url 'accounts:update_alumni_profile' %}"<button>Edit Profile</button></a>
              {% endif %}
            </div>
          </div>

        </div>
        <div class="col col-lg-2 col-md-12 col-sm-12 col-12">

        </div>
      </div>



  <style  type="text/css">
    .profile-top{
      text-align: center;
      height: 100%;
      padding-top: 30px;
    }

    .profilepic{
      border-radius: 50%;
      width: 200px;
      height: 150px;
    }
    .card-text{
      text-align: left;
    }
  </style>
  {% endblock content %}
