{% extends 'base.html' %}

{% block content %}

<form class="form-inline my-5 my-lg-0 pl-4" method="get">
	<div class="search__wrapper">
		<input type="text" name="q" id="id_q" placeholder="Search Alumni" class="search__field">
		<button type="submit" class="fa fa-search search__icon"></button>
		<ul id="results"></ul>
	</div>
</form>

{{len}}

{% for each in users %}
  <div>
    <a href="{% url 'base:profile' each.first_name each.id %}"><p>{{each.first_name}} {{each.last_name}}</p></a>
  </div>
{% endfor %}

{% endblock content %}
{% block js %}
<style>
	.ui-autocomplete{
		z-index: 2000 !important;
	}
</style>
<script>
	$( function(){
		var $elem = $('#id_q').autocomplete({ source: "{% url 'base:autocomplete' %}" }),
				elemAutocomplete = $elem.data('ui-autocomplete') || $elem.data('autocomplete');
		if(elemAutocomplete){
			var ul = document.getElementById("results");
			elemAutocomplete._renderItem = function(ul, item){
				var newText = String(item.value).replace(
					new RegExp(this.term, "gi"),
					"<span class='ui-state-highlight'>$&</span>"
				);

				return $("<li></li>").data("ui-autocomplete-item", item)
				.append("<div>" + newText + "</div>")
				.appendTo(ul);
			};
		}
	});
</script>
{% endblock js %}