{% extends 'base.html' %}

{% block content %}
{% load static %}
<link href="{% static 'accounts/css/login.css' %}" rel="stylesheet">
</style>
<div class="container">
  <div class="jumbotron">
    <h1>Login</h1>
    <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password">
        <p> </p>
        <button type="submit" value="Login" class="btn btn-success">Login</button>
      </form></div>
</div>
{% endblock %}
