<!--
jobsitem
-->

<div id="home_jobs" class="section">
  <div class="section_heading">
    <p>Jobs and Internship</p>
  <a class="view_all" href="#">view all jobs</a>
  </div>
  <div class="section_content">
    <div class="row">
      {% for each in jobsitem %}
      <div class="column small-12 large-6">
        <p class="job_main">
          <a href="#">
            <span class="title">{{each.title}}</span>
            <span> | </span>
            <span class="organisation">{{each.organisation}}</span>
          </a>
        </p>
        <p>
          <b>Location: {{each.location}}</b>
        </p>
        <p>
          <b>Salary: {{each.salary}}</b>
        </p>
        <div class="btn action" data-url="#">
          <span>Apply</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
