<!--
newsitem
eventsitem
-->

<div id="home-right-col" class="column small-12 large-3 large-push-9">
  <div id="home-news" class="section">
    <div class="section_heading">
      <p>Latest News</p>
    </div>
    <div class="section-content">
      <ul>
      {% for item in newsitem %}
        <li class="news-item">
          <a href="{% url 'base:speceficnews' item.id %}">
            <p class="date">{{item.date}}</p>
            <p>{{item.title}}</p>
            <p class="separator"></p>
          </a>
        </li>
      {% endfor %}
      </ul>
      <a href="{% url 'base:allnews' %}">View all</a>
    </div>
  </div>
  <div id="home-events" class="section">
    <div class="section_heading">
      <p>Latest Events</p>
    </div>
    <div class="section-content">
      <ul>
      {% for item in eventsitem %}
        <li class="event">
          <a href="{% url 'base:speceficevent' item.id %}">
            <div class="event-date">
              <p class="date">{{item.start_date}}</p>
            </div>
            <div class="event-content">
              <p>{{item.title}}</p>
              <p>{{item.venue}}</p>
              <p class="separator"></p>
            </div>
          </a>
        </li>
      {% endfor %}
      </ul>
      <a href="{% url 'base:allevents' %}">View all</a>
    </div>
  </div>
</div>
