{% extends 'payments/base.html' %}
{% load static %}

{% block content %}
This is a donation page for {{ dono_name.donation_name }}. Please select a donation amount and the number of times
you want to donate.

<form id="dono_form" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="Name of the donation">
            Donation event ID
        </label>

        <input class="form-control" name="_name_dono" value="{{ dono_name.donation_id }}" disabled="" />
        <input type="hidden" name="name_dono" value="{{ dono_name.donation_id }}" />
    </div>
    <div class="form-group">
        <label for="dono_name">Donation Amounts</label>
        <select class="form-control" id="Select_dono_amount" name="dono_amount">
            {% for amount in dono_amounts %}<option>{{ amount.amount }}</option>{% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Number of Donations</label>
        <input class="form-control" id="no_of_dono" aria-describedby="emailHelp" name="no_of_dono">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="{% static 'payments/js/main.js' %}"></script>
{% endblock %}