{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Box</title>
    {{ form.media.css }}
</head>

<body>
    <div style="width:50%; margin-left:10%; margin-top:20px;">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">>>>>>>></button>
        </form>
    </div>
    {% for message in messages %}
    <div>
        <p>{{ message.message_text|safe|escape }}</p>
        <p>{{ message.sent_by.username }}</p>
        <p>{{ message.pub_date }}</p>
    </div>
    {% endfor %}
    {{ form.media.js }}
</body>

</html>